@import "tailwindcss";

@theme {
    --font-display: "Inter", sans-serif;
    --color-base: #F2F3F4;
    --color-primary: #11151c;
    --color-accent: #777887;
    --color-destructive: #C74042;
}

@layer components {
    .todo-checkbox {
        @apply flex justify-center items-center bg-base rounded-md text-lg w-12 cursor-pointer h-full;
    }

    .todo-del {
        @apply flex justify-center items-center bg-destructive text-base rounded-md px-2 text-lg cursor-pointer h-full;
    }

    .todo-div-pri {
        @apply flex gap-2 text-lg;
    }

    .todo-div-sec {
        @apply flex justify-between flex-1 px-2 outline-none rounded-md text-lg p-2 border-1 border-base/20;
    }

    .done {
        @apply text-green-500 line-through;
    }
}