
@import "tailwindcss";

@theme {
    --font-display: "Arimo", sans-serif;
}

@layer base {
    body {
        @apply bg-slate-950 text-white;
    }

    * {
        @apply font-display;
    }

    button {
        @apply cursor-pointer select-none;
    }

    meter::-webkit-meter-bar {
        background: #1e293b;
        border-radius: 12px;
    }

    meter::-webkit-meter-optimum-value {
        background: #047857;
    }
}

@layer components {
    #root {
        @apply h-full;
    }

    .tooltip {
        @apply whitespace-nowrap absolute z-50 mt-2 px-2 pointer-events-none rounded-sm opacity-0 peer-hover:transition-opacity peer-hover:duration-200 peer-hover:opacity-100 text-slate-950 bg-white;
    }

    .floating-label {
        @apply pointer-events-none select-none absolute ml-5 left-0 -translate-y-1/2 transition-all duration-200 font-medium cursor-text bg-slate-900 text-slate-500 peer-focus:px-2 peer-focus:ml-2 peer-focus:text-sm md:peer-focus:text-sm peer-focus:text-white peer-not-placeholder-shown:ml-2 peer-not-placeholder-shown:px-2 peer-not-placeholder-shown:text-sm md:peer-not-placeholder-shown:text-sm;
    }

    .scrollbar::-webkit-scrollbar {
        @apply w-3;
    }

    .scrollbar::-webkit-scrollbar-track {
        @apply rounded-xl bg-slate-900;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        @apply rounded-xl bg-slate-800;
    }
}